<template>
  <div class="user">
    <ProfileCollection
      :item="collection"
      :quantity="artworks.total"
      :id="collection.author.id"
      :socials="socials"
    />
    <BaseSection>
      <div class="user__body" v-if="activeTab === tabs[0].value">
        <div :class="[{ opened: mobileOpen }, 'user__filter']">
          <FilterMain
            @toggle="toggle"
            @sendValue="sendValue"
            @toggleBuy="toggleBuy"
            @togglePrice="togglePrice"
          />
        </div>
        <div class="user__container">
          <div class="user__tabs" v-if="false">
            <UserTab

              :tab="tab"
              v-for="(tab, index) in tabs"
              :key="index"
              :class="{ active: tab.value === activeTab }"
              @click.native="toggleTab(tab.value)"
            />
          </div>
          <div class="user__actions">
            <FilterActions />
          </div>
          <div :class="[{ open: !open, more: grid === '1' }, 'user__content']">
            <Card
              :item="item"
              :class="[{ more: grid === '1' }, 'grid']"
              v-for="item in artworks.items"
              :key="item.id"
            />
          </div>
          <Pagination
            v-if="pagination.total > 20"
            :paginationData="pagination"
            @togglePagination="changePage"
          />
        </div>
      </div>
      <div class="user__chart-container" v-if="activeTab === tabs[1].value">
        <div :class="[{ opened: mobileOpen }, 'user__filter']">
          <FilterChart />
        </div>
        <div class="user__chart-section">
          <div class="user__tabs" v-if="false">
            <UserTab
              :tab="tab"
              v-for="(tab, index) in tabs"
              :key="index"
              :class="{ active: tab.value === activeTab }"
              @click.native="toggleTab(tab.value)"
            />
          </div>
          <div>
            <Chart :artworkId="`${collection.id}`" query="fromCollectionId" />
          </div>
          <div class="user__table">
            <ArtworkActivity :artwork="collection" query="fromCollectionId" />
          </div>
        </div>
      </div>
    </BaseSection>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: true,
      mobileOpen: false,
      length: 19,
      artworks: [],
      chips: [
        {
          label: 'Solana',
          value: 'sol',
        },
        {
          label: 'Solana',
          value: 'sol',
        },
        {
          label: 'Solana',
          value: 'sol',
        },
      ],
      activeIndex: 0,
      tiemeSelect: [
        { name: 'Last 7 days', value: '7d' },
        { name: 'Last 14 days', value: '14d' },
        { name: 'Last 30 days', value: '30d' },
        { name: 'Last 60 days', value: '60d' },
        { name: 'Last 90 days', value: '90d' },
        { name: 'Last year', value: 'year' },
        { name: 'All time', value: 'at' },
      ],
      tabs: [
        {
          icon: 'grid-small',
          label: 'Artworks',
          value: 'artworks',
        },
        {
          icon: 'chart',
          label: 'Activity',
          value: 'activity',
        },
      ],
      selects: [
        {
          icon: 'collected-stroke',
          label: 'Collected',
          value: 'collected',
          quantity: 3,
        },

        {
          icon: 'created-stoke',
          label: 'Created',
          list: [
            {
              label: 'Artworks',
              value: 'artworks',
            },
            {
              label: 'Collections',
              value: 'collections',
            },
          ],
        },
        {
          icon: 'favorited-stroke',
          label: 'Favorited',
          value: 'favorited',
          quantity: 0,
        },
        {
          icon: 'hidden-stroke',
          label: 'Hidden',
          value: 'hidden',
          quantity: 0,
        },
        {
          icon: 'activity-stroke',
          label: 'Activity',
          value: 'activities',
          quantity: 0,
        },
        {
          icon: 'offers-stroke',
          label: 'Offers',
          list: [
            {
              label: 'Offer received',
              icon: 'arrow-down-left',
              value: 'offer-received',
            },
            {
              label: 'Offer mode',
              icon: 'arrow-up-right',
              value: 'offer-mode',
            },
          ],
        },
      ],
    }
  },
  computed: {
    grid() {
      return this.$route.query.grid
    },
    routeId() {
      return this.$route.params.id
    },
    activeTab() {
      return this.$route.query.tab || this.tabs[0].value
    },
    pagination() {
      return {
        page: this.artworks.page,
        take: this.artworks.take,
        total: this.artworks.total,
      }
    },
    socials() {
      return {
        facebook: this.collection.author.facebook,
        twitter: this.collection.author.twitter,
        instagram: this.collection.author.instagram,
        discord: this.collection.author.discord,
      }
    },
  },
  methods: {
    changePage(page) {
      this.$axios
        .$get(
          `/nft/items?collection=${this.routeId}${page ? '&page=' + page : ''}`
        )
        .then((res) => {
          this.artworks = res
        })
    },
    toggle(res) {
      this.open = res
    },
    toggleFilterMobile() {
      this.mobileOpen = !this.mobileOpen
    },
    sendValue(val) {
      this.length = val
    },
    toggleTab(value) {
      this.$router.push({
        query: {
          ...this.$route.query,
          tab: value,
        },
      })
    },
    toggleBuy(val) {
      this.$axios
        .$get(`/nft/items?collection=${this.routeId}&fromAdmin=${val}`)
        .then((res) => {
          this.artworks = res
        })
    },
    togglePrice(val) {
      this.$axios
        .$get(`/nft/items?collection=${this.routeId}&priceFrom=${val[0]}&priceTo=${val[1]}`)
        .then((res) => {
          this.artworks = res
        })
    },
  },
  async asyncData({ error, route, $axios }) {
    try {
      const collection = await $axios.$get(`/collection/${route.params.id}`)

      const artworks = await $axios.$get(
        `/nft/items?collection=${route.params.id}${
          route.query.page ? '&page=' + route.query.page : ''
        }${route.query.fromAdmin ? '&fromAdmin=' + route.query.fromAdmin : ''}`
      )

      return {
        collection,
        artworks,
      }
    } catch (err) {
      error({ statusCode: 400, message: 'Post not found' })
    }
  },
}
</script>

<style lang="scss" scoped>
.user {
  $this: &;
  &__button-container {
    width: 100vw;
    display: none;
    justify-content: center;
    position: fixed;
    bottom: 56px;
    justify-content: center;
    z-index: 100;

    @media (max-width: $m) {
      display: flex;
    }
  }
  &__filter-button {
    width: 184px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(214.02deg, #b75cff 6.04%, #5c00f2 92.95%);
    border-radius: 8px;
    outline: none;
    border: none;

    & > span {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: $white;
    }
    & > label {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #8f02ff;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background-color: $white;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: $m) {
      flex-direction: column;
    }
  }

  &__filter {
    @media (max-width: $m) {
      position: fixed;
      top: 62px;
      left: 0;
      width: 100vw;
      height: calc(100vh - 62px);
      background-color: $white;
      z-index: -1;
      opacity: 0;
      transform: translateX(-24px);
      transition: transform 0.5s ease, opacity 0.5s ease;

      &.opened {
        opacity: 1;
        z-index: 101;
        transform: translateX(0);
      }
    }
  }

  &__search-results {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: $white;

    @media (max-width: $m) {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;

    @media (max-width: $m) {
      padding-bottom: 30px;
    }
  }

  &__chart-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: $m) {
      flex-direction: column;
    }
  }

  &__chart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__select {
    width: 341px;
    flex-shrink: 0;
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    &.blue {
      font-weight: 700;
      font-size: 15px;
      line-height: 15px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &.chart {
      padding: 24px;
      @media (max-width: $s) {
        flex-direction: column;
        align-items: start;
      }
    }
  }

  &__stats-block {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    width: 180px;

    @media (max-width: $s) {
      width: unset;
    }
  }

  &__stats-blue {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__stats-icon {
    width: 24px;
    height: 24px;
    fill: $white;
  }

  &__chips {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 24px;

    &.white {
      border-bottom: unset;
      padding: 0;
    }
  }

  &__chart {
    padding: 24px;
  }

  &__table {
    padding: 24px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: $l) {
      grid-template-columns: repeat(2, 1fr) !important;
      &.more.open {
        grid-template-columns: repeat(2, 1fr) !important;
      }
      &.more {
        grid-template-columns: repeat(3, 1fr) !important;
      }
    }

    @media (max-width: $s) {
      grid-template-columns: repeat(1, 1fr) !important;
      &.more.open {
        grid-template-columns: repeat(2, 1fr) !important;
      }
      &.more {
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }

    &.more {
      grid-template-columns: repeat(4, 1fr);
    }

    &.open {
      grid-template-columns: repeat(3, 1fr);
    }

    &.more.open {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
</style>
