<template>
  <div class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__item">
          <nuxt-link to="/" class="footer__logo">
            <svg-icon name="logo" />
          </nuxt-link>
          <p class="footer__description">
            주식회사 조이핀 서울 강남구 강남대로 584 성일빌딩 6층 / COPYRIGHT ⓒ
            NFTrealworld. ALL RIGHTS RESERVED
          </p>
          <Socials :socials="socials" />
        </div>

        <div class="footer__item">
          <p class="footer__title">Company</p>
          <div class="footer__links">
            <a
              href="https://www.joypin.net/"
              target="_blank"
              class="footer__link"
              >About Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      socials: {
        facebook: 'https://www.facebook.com/NFTRealWorld',
        twitter: 'https://twitter.com/NFT_Real_World',
        instagram: 'https://www.instagram.com/nftrealworld/',
        discord: 'https://discord.com/invite/4UJkUb3ZCY',
        kakao: 'http://pf.kakao.com/_ZNIMxj/chat'
      },
    }
  },
  computed: {
    path() {
      return this.$route.fullPath
    },
  },

  methods: {
    alert() {
      alert('준비중 입니다')
    },
  },
}
</script>

<style lang="scss" scoped>
.footer {
  padding: 80px 0;
  background-color: #0d0d11;

  @media (max-width: $s) {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  &__logo {
    display: block;
    width: 110px;
    height: 49px;
  }

  &__description {
    max-width: 280px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $white;
    margin-top: 10px;
    margin-bottom: 28px;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $white;
    margin-bottom: 24px;
  }

  &__link {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: $white;
    text-decoration: none;
    transition: ease color 0.3s;
    cursor: pointer;

    &:hover {
      color: #8454eb;
    }

    & + & {
      margin-top: 16px;
    }
  }
}
</style>
