<template>
  <div class="profile-header">
    <div class="profile-header__cover" v-if="item">
      <img
        loading="lazy"
        v-if="item.banner"
        :src="item.banner"
        alt=""
        class="profile-header__image"
      />
    </div>
    <div class="profile-header__body container">
      <div class="profile-header__content-body">
        <div class="profile-header__avatar">
          <img
            loading="lazy"
            v-if="item.logo"
            :src="item.logo"
            alt=""
            class="profile-header__image"
          />
        </div>
        <div class="profile-header__artist" v-if="item.metadata">
          <span class="profile-header__artist-text is-big">{{
            item.metadata.name
          }}</span>
          <svg-icon
            v-if="item.isVerified"
            class="profile-header__verified"
            name="verified"
          />
        </div>
        <div @click="copy" class="profile-header__artist">
          <span class="profile-header__wallet-text">{{
            item.author.wallet.address
          }}</span>
        </div>
        <div
          @click="toggleFollow"
          class="profile-header__follow"
          :class="{ active: isFolowed }"
        >
          Follow
        </div>
        <div class="profile-header__content-actions">
          <Socials :socials="socials" />
        </div>
        <div class="profile-header__stats">
          <div class="profile-header__stat">
            <p class="profile-header__stat-value">{{ quantity }}</p>
            <p class="profile-header__stat-description">Artwork</p>
          </div>
        </div>
        <div class="profile-header__description">
          <p class="profile-header__description-text" v-if="item.author.bio">
            {{ item.author.bio }}
          </p>
          <p class="profile-header__description-text">
            Joined {{ joined.date }}
          </p>
        </div>
        <div
          class="profile-header__description"
          v-if="item.metadata.description"
        >
          <Description :description="item.metadata.description" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { dateFormat } from '~/helpers/dateformatter'
export default {
  props: ['item', 'quantity', 'id', 'socials'],

  computed: {
    joined() {
      return dateFormat(this.item.author.joined)
    },
    folowers() {
      return this.$store.state.follows
    },
    isFolowed() {
      return this.folowers.includes(this.id)
    },
    url() {
      return this.isFolowed ? 'unfollow' : 'follow'
    },
  },

  methods: {
    async toggleFollow() {
      if (this.$store.state.user) {
        await this.$axios({
          method: 'post',
          url: `/account/${this.url}/${this.item.author.id}`,
        })

        await this.$store.dispatch('follows')
      }
    },
    async copy() {
      let textToCopy = this.item.author.wallet.address
      try {
        await this.$copyText(textToCopy)
      } catch (e) {
        console.error(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.profile-header {
  padding-bottom: 50px;
  @media (max-width: $m) {
    padding-bottom: 30px;
  }
  &__cover {
    width: 100%;
    height: 447px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background-color: $background-second;
    @media (max-width: $m) {
      height: 204px;
    }
    @media (max-width: $s) {
      height: 144px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.15);
      opacity: 0;
      z-index: 1;
      transition: ease opacity 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__verified {
    width: 30px;
    height: 30px;
    fill: #2063e4;
    flex-shrink: 0;
  }

  &__content-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 30px;
  }

  &__avatar {
    width: 186px;
    height: 186px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    cursor: pointer;
    margin-bottom: -80px;
    background-color: $secondary;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.15);
      opacity: 0;
      z-index: 1;
      transition: ease opacity 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    @media (max-width: $s) {
      width: 96px;
      height: 96px;
      margin-bottom: -40px;
    }
  }

  &__artist {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 30px;

    & + & {
      margin-top: 20px;
    }

    &-text {
      font-weight: 500;
      font-size: 24px;
      color: $white;
      margin-right: 5px;
      @media (max-width: $s) {
        font-size: 18px;
      }

      &.is-big {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        @media (max-width: $s) {
          font-size: 20px;
        }
      }
    }

    &-icon {
      width: 26px;
      height: 26px;
      color: #2063e4;
    }
  }

  &__social {
    border-radius: 26px;
    border: 1px solid $white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
    width: 320px;
    cursor: pointer;

    &-name {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: $white;
    }

    &-link {
      font-weight: 500;
      font-size: 18px;
      color: $dark;
      text-decoration: none;
      text-align: center;
    }
  }
  &__follow {
    border-radius: 26px;
    border: 1px solid $white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
    width: 320px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $white;
      color: $background-second;
    }

    &.active {
      background-color: $primary;
      border-color: $primary;
      color: $white;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  &__stats {
    display: flex;
    gap: 12px;
    margin-top: 25px;
  }

  &__stat {
    text-align: center;
    padding: 16px;
    background-color: $background-second;
    border-radius: 16px;

    &-value {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      text-align: center;
      color: $secondary;
    }

    &-description {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: $white-2;
      margin-top: 8px;
    }
  }

  &__description {
    margin-top: 30px;
    max-width: 800px;
    text-align: center;

    @media (max-width: $s) {
      margin-top: 16px;
    }

    &-text {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $white;
      @media (max-width: $s) {
        font-weight: 500;
        font-size: 16px;
      }

      & + & {
        padding-top: 32px;
        @media (max-width: $s) {
          padding-top: 16px;
        }
      }
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    fill: $white;
  }

  &__wallet-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 44px;
    color: $white;
    cursor: pointer;
    @media (max-width: $m) {
      max-width: 105px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>
