<template>
  <div :class="[{ hide: !open, mobileShow: mobileOpen }, 'filter']">
    <div class="filter__header">
      <p class="filter__title">Filter</p>
    </div>
    <div class="filter__body">
      <FilterItem title="Status" class="filter__item">
        <div class="filter__list">
          <Checkbox
            @input="toggleBuy"
            v-model="buy"
            label="Buy Now"
            checked="checked"
          />
        </div>
      </FilterItem>
      <FilterItem title="Price" class="filter__item">
        <Range @update="togglePrice" />
      </FilterItem>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: true,
      mobileOpen: false,
      buy: false,
    }
  },
  methods: {
    toggleBuy() {
      this.$emit('toggleBuy', this.buy)
    },
    togglePrice(value) {
      this.$emit('togglePrice', value)
    },
  },
}
</script>

<style lang="scss" scoped>
.filter {
  width: 280px;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    & + & {
      border-top: 1px solid $background-second;
    }
  }

  &__header {
    margin-bottom: 32px;
  }
}
</style>
