<template>
  <div class="filter-item">
    <div class="filter-item__header" @click="open = !open">
      <p class="filter-item__title">{{ title }}</p>
      <button :class="[{ open }, 'filter-item__toggle']">
        <svg-icon class="filter-item__icon" name="chevron-24" />
      </button>
    </div>

    <collapse-transition>
      <div class="filter-item__body" v-show="open">
        <slot />
      </div>
    </collapse-transition>
  </div>
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'
export default {
  props: {
    title: {
      type: String,
    },
    icon: {
      type: String,
    },
    quantity: {
      type: Number,
    },
  },
  data() {
    return {
      open: false,
    }
  },
  components: { CollapseTransition },
}
</script>

<style lang="scss" scoped>
.filter-item {
  width: 280px;
  @media (max-width: $m) {
    width: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    cursor: pointer;
  }

  &__toggle {
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    transform: rotate(0);
    transition: ease transform 0.3s;
    &.open {
      transform: rotate(180deg);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $white;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__body {
    padding: 16px 0;
  }
}
</style>
