<template>
  <div class="user">
    <ProfileArtist :item="user" :quantity="collectionLength" />
    <BaseSection>
      <div class="user__body">
        <div class="user__container">
          <div class="user__selector">
            <Select :options="selectsMobile" @input="linkTo" v-model="link" />
          </div>
          <div class="user__tabs adaptive">
            <UserTab
              :tab="tab"
              v-for="(tab, index) in selects"
              :key="index"
              :class="{ active: tab.value === activeTab }"
              v-model="subItem"
              @input="addSubQuery"
            />
          </div>
          <div class="user__actions">
            <FilterActions />
          </div>
          <div
            v-if="activeTab === 'collected' && collections"
            class="user__content"
            :class="{ more: grid === '1' }"
          >
            <div class="user__item" v-for="item in collections" :key="item.id">
              <CollectionCard
                class="grid"
                :item="item"
                :class="{ more: grid === '1' }"
              />
            </div>
            <div class="user__item" v-for="item in artworks" :key="item.id">
              <Card class="grid" :item="item" :class="{ more: grid === '1' }" />
            </div>
          </div>

          <div
            v-if="activeTab === 'favorited' && favorites"
            class="user__content"
            :class="{ more: grid === '1' }"
          >
            <div class="user__item" v-for="item in favorites" :key="item.id">
              <Card
                v-if="item.type == 0"
                class="grid"
                :item="item"
                :class="{ more: grid === '1' }"
              />
              <CollectionCard
                v-else
                class="grid"
                :item="item"
                :class="{ more: grid === '1' }"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="user__chart-container" v-if="activeTab === 'activity'">
        <div v-if="false" class="user__filter" :class="{ opened: mobileOpen }">
          <FilterChart @toggle="toggle" @sendValue="sendValue" />
        </div>
        <div class="user__chart-section">
          <div class="user__chips"></div>

          <div class="user__table">
            <ArtworkActivity :artwork="user" query="userId" />
          </div>
        </div>
      </div>
    </BaseSection>
  </div>
</template>

<script>
export default {
  data() {
    return {
      subItem: null,
      open: true,
      mobileOpen: false,
      length: 19,
      link: null,
      tiemeSelect: [
        { name: 'Last 7 days', value: '7d' },
        { name: 'Last 14 days', value: '14d' },
        { name: 'Last 30 days', value: '30d' },
        { name: 'Last 60 days', value: '60d' },
        { name: 'Last 90 days', value: '90d' },
        { name: 'Last year', value: 'year' },
        { name: 'All time', value: 'at' },
      ],
      selects: [
        {
          icon: 'collected-stroke',
          label: 'Collected',
          value: 'collected',
          quantity: 0,
        },

        {
          icon: 'favorited-stroke',
          label: 'Favorited',
          value: 'favorited',
          quantity: 0,
        },
        {
          icon: 'activity-stroke',
          label: 'Activity',
          value: 'activity',
        },
      ],
      selectsMobile: [
        {
          name: 'Collected',
          value: 'collected',
          quantity: 0,
        },

        {
          name: 'Favorited',
          value: 'favorited',
          quantity: 0,
        },

        {
          name: 'Activity',
          value: 'activities',
          quantity: 0,
        },
      ],
    }
  },
  computed: {
    grid() {
      return this.$route.query.grid
    },
    activeTab() {
      this.selects[0].quantity = this.collections.length + this.artworks.length
      this.selects[1].quantity = this.favorites.length
      return this.$route.query.tab || 'collected'
    },
  },
  methods: {
    linkTo() {
      let tab = this.link

      this.$router.push({
        query: {
          ...this.$route.query,
          tab,
        },
      })
    },
    toggle(res) {
      this.open = res
    },
    toggleFilter() {
      this.mobileOpen = !this.mobileOpen
    },
    toggleFilterMobile() {
      this.mobileOpen = !this.mobileOpen
    },
    sendValue(val) {
      this.length = val
    },
    toggleTab(index, value) {
      this.activeIndex = index

      let tab = value

      this.$router.push({
        query: {
          ...this.$route.query,
          tab,
        },
      })
    },
    toggleLayout(index, value) {
      this.activeIndex = index

      let layout = value

      this.$router.push({
        query: {
          ...this.$route.query,
          layout,
        },
      })
    },
    addQuery(query) {
      this.$router.push({
        query: {
          ...this.$route.query,
          tab: query,
        },
      })
    },
    addSubQuery() {
      this.$router.push({
        query: {
          ...this.$route.query,
          tab: this.subItem,
        },
      })
    },
  },
  mounted() {
    this.$nuxt.$on('toggleFilter', this.toggleFilter)
  },
  async asyncData({ error, route, $axios, $cookiz }) {
    try {
      let favorites = null
      const user = await $axios.$get(`/account/${route.params.id}`)

      const collections = await $axios.$get(
        `/collection?ownerId=${route.params.id}`
      )
      const artworks = await $axios.$get(
        `/nft/items?ownerId=${route.params.id}`
      )

      let collectionLength = artworks.total
      const favoriteCollections = await $axios.$get(
        `/collection/favorites?userId=${route.params.id}`
      )

      favorites = await $axios.$get(`/nft/favorites?userId=${route.params.id}`)

      favorites = await favorites.items

      favoriteCollections.collections.forEach((element) => {
        favorites.push(element)
      })

      return {
        user,
        artworks: artworks.items,
        collections: collections.collections,
        favorites,
        favoriteCollections,
        collectionLength,
      }
    } catch (err) {
      console.error(err)
      error({ statusCode: 400, message: 'Post not found' })
    }
  },
}
</script>

<style lang="scss" scoped>
.user {
  $this: &;
  &__button-container {
    width: 100vw;
    display: none;
    justify-content: center;
    position: fixed;
    bottom: 56px;
    justify-content: center;
    z-index: 100;

    @media (max-width: $m) {
      display: flex;
    }
  }
  &__filter-button {
    width: 184px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(214.02deg, #b75cff 6.04%, #5c00f2 92.95%);
    border-radius: 8px;
    outline: none;
    border: none;

    & > span {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: $white;
    }
    & > label {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #8f02ff;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background-color: $white;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    @media (max-width: $m) {
      flex-direction: column;
    }
  }

  &__filter {
    @media (max-width: $m) {
      position: fixed;
      top: 62px;
      left: 0;
      width: 100vw;
      height: calc(100vh - 62px);
      background-color: $white;
      z-index: -1;
      opacity: 0;
      transform: translateX(-24px);
      transition: transform 0.5s ease, opacity 0.5s ease;

      &.opened {
        opacity: 1;
        z-index: 101;
        transform: translateX(0);
      }
    }
  }

  &__search-results {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: $white;

    @media (max-width: $m) {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;

    &.adaptive {
      @media (max-width: $s) {
        display: none;
      }
    }

    @media (max-width: $m) {
      padding-bottom: 30px;
    }
  }

  &__selector {
    display: none;
    @media (max-width: $s) {
      display: block;
      width: 100%;
    }
  }

  &__chart-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  &__chart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  &__select {
    width: 341px;
    flex-shrink: 0;
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    &.blue {
      font-weight: 700;
      font-size: 15px;
      line-height: 15px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;

    &.chart {
      padding: 24px;
      @media (max-width: $s) {
        flex-direction: column;
        align-items: start;
      }
    }
  }

  &__stats-block {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    width: 180px;

    @media (max-width: $s) {
      width: unset;
    }
  }

  &__stats-blue {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__stats-icon {
    width: 24px;
    height: 24px;
    fill: $white;
  }

  &__chips {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 24px;

    &.white {
      border-bottom: unset;
      padding: 0;
    }
  }

  &__chart {
    padding: 24px;
  }

  &__table {
    padding: 24px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: $m) {
      grid-template-columns: repeat(2, 1fr) !important;
      &.more.open {
        grid-template-columns: repeat(2, 1fr) !important;
      }
      &.more {
        grid-template-columns: repeat(3, 1fr) !important;
      }
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(1, 1fr) !important;
      &.more.open {
        grid-template-columns: repeat(2, 1fr) !important;
      }
      &.more {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }

    &.more {
      grid-template-columns: repeat(4, 1fr);
    }

    &.open {
      grid-template-columns: repeat(3, 1fr);
    }

    &.more.open {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
</style>
