<template>
  <div class="about">
    <div class="about__body">
      <div class="about__video-wrapper">
        <VideoCard
          preview="/about.jpg"
          video="https://www.youtube.com/embed/__BPPYhQLow"
        />
      </div>
    </div>
    <div class="about__footer">
      <nuxt-link to="/explore">
        <BaseButton>Explore the marketplace</BaseButton></nuxt-link
      >
    </div>
  </div>
</template>

<style lang="scss" scoped>
.about {
  &__footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;

    @media (max-width: $s) {
      margin-top: 56px;
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__video {
    &-wrapper {
      width: 100%;
      height: 680px;
      @media (max-width: $s) {
        aspect-ratio: 1 / 1;
        height: 100%;
      }
    }
  }
}
</style>
