<template>
  <div @click="toggleFavorites" class="add-favorite" :class="{ load }">
    <svg-icon
      class="add-favorite__icon"
      name="favorite-actions"
      :class="{ favorite: favorites }"
    />
    <span v-if="count >= 1">
      {{ count }}
    </span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

declare interface BaseComponentData {
  count: number
  load: boolean
}

export default Vue.extend({
  props: {
    id: {
      type: Number,
    },
    likes: {
      type: Number,
      default: 0,
    },
    type: {
      type: String,
    },
    collection: {
      type: Boolean,
    },
  },
  data(): BaseComponentData {
    return {
      count: +this.likes,
      load: false,
    }
  },
  computed: {
    user(): any {
      return this.$store.state.user
    },
    arr(): any {
      return this.$store.state.favorites
    },
    favorites(): boolean {
      const array = this.$store.state.favorites
      if (this.user && array) {
        const arrayID: number[] = []

        array.forEach((element: any) => {
          arrayID.push(element.id)
        })

        return arrayID.includes(this.id)
      }
      return false
    },
    url(): string {
      return this.favorites ? 'removeFromFavorites' : 'addToFavorites'
    },
  },
  methods: {
    async toggleFavorites() {
      if (this.user) {
        this.load = true
        await this.$axios({
          method: this.favorites ? 'delete' : 'post',
          url: `/${this.collection ? 'collection' : 'nft'}/${this.url}/${
            this.id
          }`,
        })

        if (this.favorites) {
          this.$store.commit('removeItemToFavorites', this.id)
          this.count--
        } else {
          await this.$store.commit('addItemToFavorites', {
            id: this.id,
          })
          this.count++
        }

        this.load = false
      } else {
        this.$toast.error('authorization required', {
          duration: 2000,
          theme: 'bubble',
        })
      }
    },
  },
})
</script>
<style lang="scss">
.add-favorite {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 40px;
  background-color: $background-second;
  padding: 7px 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: rgba(52, 52, 68, 0.8);
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: white;

    &.favorite {
      fill: red;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-second;
    transition: ease opacity 0.3s;
    z-index: 5;
    pointer-events: none;
    background-image: url('../static/load.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
  }
  &.load {
    &::before {
      opacity: 1;
    }
  }
}
</style>
