<template>
  <div class="chart" :class="{ load }">
    <div v-if="activities.length" class="chart__chart" ref="chart" ></div>
    <div v-if="activities.length == 0" class="chart__plug" :class="{ load }">
      <img src="/artwork-plug-1.png" />
      <p class="chart__plug-text">No item activity yet</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
declare interface BaseComponentData {
  activities: any[]
  load: boolean
}

export default Vue.extend({
  props: {
    artworkId: {
      type: String,
    },
    query: {
      type: String,
      default: 'itemId',
    },
  },
  data(): BaseComponentData {
    return {
      activities: [],
      load: true,
    }
  },

  async mounted() {
    this.activities = []
    await this.$axios
      .$get(`/nft/activities?${this.query}=${this.artworkId}`)
      .then((res) => {
        this.activities = res.activities
        this.load = false
      })

    if (this.activities) {
      // @ts-ignore
      const chart = LightweightCharts.createChart(this.$refs.chart, {
        locale: 'en-US',
        layout: {
          textColor: '#d1d4dc',
          backgroundColor: 'transparent',
        },
        grid: {
          vertLines: {
            visible: false,
          },
          horzLines: {
            visible: false,
          },
        },
      })

      const result: any[] = []

      const filterArray = this.activities.filter((item: any) => item.type === 2)

      filterArray.forEach((item: any) => {
        result.push({ time: item.time, value: item.price })
      })

      const lineSeries = chart.addLineSeries()
      lineSeries.setData(result)

      chart.timeScale().fitContent()
    }
  },
})
</script>

<style lang="scss" scoped>
.chart {

  position: relative;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    transition: ease opacity 0.3s;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    background-image: url('../static/load.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  &.load {
    &::before {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__chart {
    width: 100%;
  height: 300px;
  @media (max-width: $s) {
    height: 140px;
  }
  }

  &__plug {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 1s ease;

    &.load {
      display: none;
    }

    & > img {
      max-width: 200px;
    }
  }
}
</style>
