<template>
  <div class="collections">
    <div class="collections__headline">
      <p class="collections__title">Top collections over of</p>
      <div class="collections__dropdown">
        <p class="collections__title primary">{{ selectedTime }}</p>
        <div class="collections__drop-list">
          <div
            class="collections__drop-item"
            v-for="(item, index) in time"
            :key="index"
            @click="setSort(index)"
          >
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="collections__header">
      <p class="collections__title">Top Creators</p>
      <nuxt-link to="/" class="collections__link">
        <span class="collections__link-text">See All</span>
        <span class="collections__link-icon"><svg-icon name="arrow" /></span>
      </nuxt-link>
    </div>
    <div class="collections__body">
      <div
        class="collections__item"
        v-for="(item, index) in artists"
        :key="index"
      >
        <Collection :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    artists: {
      type: Array,
    },
  },
  data() {
    return {
      value: null,
      selectedTime: 'All time',
      time: [
        { name: 'Last 24 hours', value: '24h' },
        { name: 'Last 7 days', value: '7d' },
        { name: 'Last 30 days', value: '30d' },
        { name: 'All time', value: null },
      ],
      items: [
        {
          image: '/collection1.jpg',
          name: 'YoungersArt',
          followers: '20M Followers',
        },
        {
          image: '/collection2.jpg',
          name: 'Emilia Tan',
          followers: '12M Followers',
        },
        {
          image: '/collection3.jpg',
          name: 'Subaru Art',
          followers: '10M Followers',
        },
        {
          image: '/collection4.jpg',
          name: 'Rem Satella',
          followers: '8M Followers',
        },
      ],
    }
  },
  methods: {
    setSort(index) {
      this.selectedTime = this.time[index].name
      this.$axios
        .$get(
          `/nft/creators?${
            this.time[index].value ? '&duration=' + this.time[index].value : ''
          }`
        )
        .then((res) => {
          this.artists = res
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.collections {
  $this: &;
  &__drop-list {
    width: 180px;
    position: absolute;
    top: 30px;
    right: -40px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-24px);
    pointer-events: none;
  }

  &__drop-item {
    display: block;
    align-items: center;
    gap: 8px;
    padding: 11px 21px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $black;
    transition: box-shadow 0.3s ease, background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
      background-color: #8454eb;
      color: $white;
    }
    &:nth-child(1) {
      box-sizing: border-box;
      border-radius: 13px 13px 0 0;
    }
    &:nth-last-child(1) {
      border-radius: 0px 0px 13px 13px;
    }

    &.with-icon {
      padding: 11px 8px;
    }
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 64px;
    @media (max-width: $s) {
      margin-bottom: 30px;
      gap: 8px;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: $white;

    &.primary {
      color: #8454eb;
    }

    @media (max-width: $s) {
      font-weight: 500;
      font-size: 27px;
      line-height: 32px;
    }
  }

  &__dropdown {
    position: relative;
    display: flex;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      right: -30px;
      bottom: -2px;
      border: 11px solid transparent;
      border-top: 14px solid #8454eb;

      @media (max-width: $s) {
        right: -30px;
        bottom: -3px;
      }
    }

    &:hover {
      #{$this}__drop-list {
        opacity: 1;
        z-index: 100;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }

  &__authors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-top: 72px;
    @media (max-width: $s) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    @media (max-width: $s) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    &-text {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #a2a6d0;
      transition: ease color 0.3s;
    }

    &-icon {
      width: 32px;
      height: 32px;
      transition: ease transform 0.3s;
    }

    &:hover {
      .collections__link-text {
        color: $white;
      }
      .collections__link-icon {
        transform: translateX(-5px);
      }
    }
  }

  &__title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #dbddf7;
  }

  &__footer {
    margin-top: 55px;
    display: flex;
    justify-content: center;
  }
}
</style>
