<template>
  <div class="collection-card">
    <div class="collection-card__fav">
      <AddFavorite
        :id="item.id"
        :likes="item.likes"
        type="items"
        :collection="true"
      />
    </div>
    <nuxt-link :to="'/collection/' + item.id" class="collection-card__images">
      <img
        loading="lazy"
        class="collection-card__image"
        :src="item.metadata.image"
      />
      <img
        loading="lazy"
        v-if="item.logo"
        class="collection-card__author-image"
        :src="item.logo"
      />
      <div v-else class="collection-card__author-image"></div>
    </nuxt-link>
    <div class="collection-card__body">
      <div class="collection-card__flex">
        <nuxt-link :to="'/collection/' + item.id"
          ><p class="collection-card__name">
            {{ item.metadata.name }}
          </p>
        </nuxt-link>
        <svg-icon
          v-if="item.isVerified"
          class="collection-card__verified"
          name="verified"
        />
      </div>

      <nuxt-link v-if="!item.fromAdmin" :to="'/artist/' + item.author.id">
        <p class="collection-card__author-name">
          {{ author }}
        </p></nuxt-link
      >

      <p class="collection-card__description">
        {{ item.metadata.description }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['item'],
  computed: {
    author() {
      return this.item.author.wallet.address || this.item.author.username
    },
  },
}
</script>

<style lang="scss" scoped>
.collection-card {
  padding: 20px;
  background-color: $background-second;
  height: 100%;
  position: relative;

  &__images {
    position: relative;
    width: 100%;
    display: flex;
  }

  &__fav {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 6;
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  &__verified {
    width: 24px;
    height: 24px;
    fill: #2063e4;
    flex-shrink: 0;
  }

  &__author-image {
    background: $secondary;
    position: absolute;
    border-radius: 15px;
    width: 44px;
    height: 44px;
    object-fit: cover;
    bottom: -12px;
    left: calc(50% - 22px);
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 24px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $white;
    transition: color 0.3s ease;

    &:hover {
      color: #8454eb;
    }
  }

  &__author-name {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $white;
    transition: color 0.3s ease;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: #8454eb;
    }
  }

  &__role {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $white-2;
  }

  &__description {
    text-align: center;
    font-weight: 400;
    font-size: 9px;
    line-height: 20px;
    color: $white-2;

    max-height: 105px;
    word-break: break-word;
    -webkit-mask: linear-gradient(rgb(255, 255, 255) 45%, transparent);
    overflow: hidden;
  }

  &__count {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding-top: 12px;
    border-top: 1px solid $black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
