<template>
  <div class="main">
    <div class="main__content">
      <h1 class="main__title">
        TIME TO EXPLORE!<br />
        최초의 실물기반 NFT 마켓<br />
        NFT Real World입니다.
      </h1>
      <p class="main__description">
        팬텀지갑 연결 후에 솔라나 코인으로 구매가 가능합니다.
        <br />
        할인 구매를 원하시는 앨리스클럽 홀더는 디스코드를 통해 연락주시기 바랍니다.
      </p>
      <div class="main__buttons">
        <div class="main__button">
          <nuxt-link to="/explore" class="is-alt main__link"
            >Explore New</nuxt-link
          >
        </div>
        <div class="main__button">
          <a
            target="_blank"
            href="https://aliceclub.io/benefits.html"
            class="is-alt main__link purple"
            >Membership</a
          >
        </div>
      </div>

      <div class="main__stats">
        <div class="main__stat">
          <p class="main__count">{{ numbers.items }}</p>
          <p class="main__subtitle">NFTs</p>
        </div>
        <div class="main__stat">
          <p class="main__count">{{ collectionsLength }}</p>
          <p class="main__subtitle">Collections</p>
        </div>
        <div class="main__stat" v-if="false">
          <p class="main__count">{{ artistsCount }}</p>
          <p class="main__subtitle">Artists</p>
        </div>
      </div>
    </div>
    <div class="main__right" v-if="currentCollection">
      <div class="main__work">
        <nuxt-link
          :to="'/collection/' + currentCollection.id"
          class="main__cover"
        >
          <img
            loading="lazy"
            :src="currentCollection.metadata.image"
            class="main__image"
          />
        </nuxt-link>
      </div>
      <div class="main__artist">
        <div class="main__artist-avatar">
          <img
            loading="lazy"
            :src="currentCollection.logo"
            class="main__image"
          />
        </div>
        <div class="main__artist-info">
          <div class="main__artist-bio">
            <nuxt-link
              :to="'/collection/' + currentCollection.id"
              class="main__artist-nick"
              >@{{ currentCollection.metadata.name }}</nuxt-link
            >
            <p v-if="currentCollection.fromAdmin" class="main__artist-name">
              {{ author }}
            </p>
            <nuxt-link
              v-else
              :to="'/artist/' + currentCollection.owner.id"
              class="main__artist-name"
              >{{ author }}</nuxt-link
            >
          </div>
          <div class="main__artist-star">
            <svg-icon name="confirmed" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['numbers', 'currentCollection', 'artists', 'collections'],
  computed: {
    author() {
      return (
        this.currentCollection.author.username ||
        this.currentCollection.author.wallet.address
      )
    },
    artistsCount() {
      let count = 0
      this.artists.forEach((element) => {
        if (element.itemsCount > 0) {
          count++
        }
      })
      return count
    },
    collectionsLength() {
      let array = []
      this.collections.collections.forEach((element) => {
        if (!element.isBlocked) {
          array.push(element)
        }
      })
      return array.length
    },
  },
}
</script>

<style lang="scss" scoped>
.main {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 30px;
  align-items: flex-start;

  @media (max-width: $m) {
    padding: 23px 0 0;
  }

  @media (max-width: $s) {
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px 0 0;
  }

  &__content {
    max-width: 697px;
    width: 100%;
    background: linear-gradient(
      106.97deg,
      rgba(255, 255, 255, 0.2) 5.84%,
      rgba(255, 255, 255, 0.05) 70.7%
    );
    border-radius: 80px;
    padding: 35px 50px 50px 35px;

    @media (max-width: $m) {
      border-radius: 10px;
      padding: 21px;
    }
    @media (max-width: $s) {
      max-width: 100%;
      padding: 12px 16px 8px;
      border-radius: 9px;
    }
  }

  &__right {
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: $white;

    @media (max-width: $m) {
      font-weight: 800;
      font-size: 33px;
      line-height: 40px;
    }
    @media (max-width: $s) {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }
  }

  &__description {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: $white;
    margin-top: 60px;

    @media (max-width: $m) {
      margin-top: 20px;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
    }
    @media (max-width: $s) {
      margin-top: 30px;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 55px;
    align-items: center;
    gap: 30px;
    @media (max-width: $m) {
      margin-top: 20px;
    }
    @media (max-width: $s) {
      margin-top: 30px;
      justify-content: center;
    }
  }

  &__stats {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    @media (max-width: $s) {
      margin-top: 16px;
      gap: 16px;
    }
  }

  &__stat {
    text-align: center;
  }

  &__count {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: $white;
    @media (max-width: $s) {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    @media (max-width: $s) {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
    }
  }

  &__work {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 40px 20px;
    @media (max-width: $m) {
      padding: 32px 16px;
    }
  }

  &__cover {
    overflow: hidden;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $secondary;
    overflow: hidden;
  }

  &__artist {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 8px 10px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: $s) {
      padding: 10px;
      gap: 8px;
    }

    &-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;

      @media (max-width: $s) {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }
    }

    &-nick {
      font-weight: 500;
      font-size: 20px;
      font-family: 'Poppins';
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        color: $primary;
      }
      @media (max-width: $s) {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
      }
    }

    &-name {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 20px;
      color: $white;
      margin-top: 10px;
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: $s) {
        margin-top: 0;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        max-width: calc(100% - 200px);
      }
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
    }
    &-star {
      width: 40px;
      height: 40px;
      color: $white;
      @media (max-width: $s) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $white;
    background-color: rgba(255, 255, 255, 0.1);

    &.purple {
      background-color: #8454eb;
    }
  }
}
</style>
