<template>
  <div class="modal">
    <div class="modal__button">
      <div @click="open = true"><slot name="button" /></div>
    </div>
    <FadeTransition>
      <div class="modal__container" v-if="open" @click.self="close">
        <div class="modal__content">
          <div class="modal__head">
            <img
              loading="lazy"
              class="modal__head-bg"
              src="/modal-layer.png"
              alt=""
            />
            <div class="modal__head-content">
              <div class="modal__head-flex">
                <img
                  loading="lazy"
                  class="modal__head-icon"
                  src="/aliceclub.png"
                  alt=""
                />


              </div>
              <span class="modal__head-text"
                ><span class="modal__head-text green">NFT 리얼월드</span>이용안내.</span
              >
            </div>
          </div>
          <div class="modal__body">
            <!-- <span class="modal__body-title">
              현재 오픈된 "NFT Real World" 마켓에서 실물기반 숙박권 등의 <br />
              <span class="modal__body-title blue">
                NFT 구매를 민팅 이후에</span
              >
              진행하기로 결정하여 안내문을 올립니다.
            </span> -->
            <!-- <div class="modal__body-tab">안내문</div> -->
            <div class="modal__body-content">
              <p class="modal__body-text">
                  안녕하세요. AliceClub 입니다.
                </p>
              <div>

                <div class="modal__body-title green-bg">
                  <span class="modal__body-title purple">
                7월 11일부터</span
              >
               NFT 리얼월드에서 <span class="modal__body-title purple">
                정상 구매 가능</span
              > 합니다.
                </div>
                <div class="modal__body-text">
                  구매를 원하시는 분은  <span class="modal__body-text purple">팬텀지갑</span
              >을 등록하셔서  <span class="modal__body-text purple">솔라나 코인으로 구매</span
              >하시면 됩니다.
                </div>
              </div>
              <div>
                <p class="modal__body-title blue-bg">
                  앨리스클럽  홀더님들은 7월 4일부터
                </p>
                <p class="modal__body-text">
                  "NFT리얼월드"에 등록된 NFT를 할인 구매하실 수 있습니다.<br>
                  구매를 원하시는 홀더님들은 디스코드를 통해 문의해주시기 바랍니다.
                </p>
              </div>
              <div>
                <p class="modal__body-title red-bg">
                  앨리스클럽  2차 화이트리스트 민팅이
                </p>
                <p class="modal__body-title red-bg">
                  7월 6일부터 ~7일까지 진행됩니다.(24시간 진행)
                </p>
                <p class="modal__body-text">
                  앨리스클럽 NFT를 소유하신 분은 NFT리얼월드에서 판매되는 모든 NFT를<br>10~30% 할인구매할 수 있는 혜택이 주어집니다.
                </p>
                <div class="modal__body-text">
                  <span class="modal__body-text red-bg">공식 디스코드에 오셔서 화이트리스트 신청</span
              >을 해주시기 바랍니다.
                </div>
                <p class="modal__body-text small">
                  (홈페이지 상하단에서 디스코드 링크를 확인할 수 있습니다.)
                </p>
              </div>
            </div>
          </div>
          <div class="modal__footer">
            <a target="_blanc" href="https://AliceClub.io">https://AliceClub.io</a>
            <img loading="lazy" src="/aliceclub.png" />
          </div>
          <svg-icon class="modal__close" name="close" @click="open = false" />
        </div>
      </div>
    </FadeTransition>
  </div>
</template>

<script>
import { FadeTransition } from 'vue2-transitions'
export default {
  data() {
    return {
      open: false,
    }
  },
  components: {
    FadeTransition,
  },
  methods: {
    close() {
      this.open = false
    },
  },
  mounted() {
    if (sessionStorage.getItem('modal')) {
      this.open = false
    } else {
      this.open = true
      sessionStorage.setItem('modal', 'value')
    }
    this.$nuxt.$on('closeModal', this.close)
  },
}
</script>

<style lang="scss" scoped>
.modal {
  &__container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(49, 45, 63, 0.51);
    backdrop-filter: blur(9px);
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close {
    width: 28px;
    height: 28px;
    fill: $white;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 30px;
    right: 30px;
    transition: fill 0.3s ease;
    &:hover {
      fill: #8454eb;
    }
    @media (max-width: $s) {
      top: 15px;
      right: 15px;
    }
  }
  &__content {
    background-color: $background-second;
    max-width: 1160px;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    // height: 100vh;
    &::-webkit-scrollbar {
      width: 0;
      z-index: 10;
    }
  }

  &__head {
    position: relative;
  }

  &__head-content {
    position: absolute;
    top: calc(50% - 50px);
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: $s) {
      top: 30px;
      left: 15px;
    }
  }
  &__head-icon {
    @media (max-width: $s) {
      height: 30px;
    }
  }

  &__head-bg {
    width: 100%;
    @media (max-width: $s) {
      height: 160px;
      object-fit: cover;
    }
  }

  &__head-flex {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__head-subtext {
    font-weight: 500;
    font-size: 40px;
    line-height: 75px;
    @media (max-width: $s) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__head-text {
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    &.blue {
      color: #00ffff;
    }
    &.green {
      color: #AEFF12;
    }

    @media (max-width: $s) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__body {
    padding: 0 30px 0;
    @media (max-width: $s) {
      padding: 30px 8px 0;
    }
  }

  &__body-title {
    color: $black;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    width: fit-content;
    &.blue {
      color: #00ffff;
    }
    &.purple {
      color: #6314F0;
    }

    &.green-bg {
      background-color: #AEFF12;
    }
    &.blue-bg {
      background-color: #00ffff;
    }

    &.red-bg {
      background-color: rgb(233, 141, 141);
    }
    @media (max-width: $s) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__body-tab {
    background-color: #7d21ff;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    width: fit-content;
    padding: 16px 20px;
    margin-top: 30px;
    @media (max-width: $s) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__body-content {
    background-color: $white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: $s) {
      padding: 15px;
    }
  }

  &__body-text {
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    color: $black;

    &.color {
      color: #7d21ff;
    }

    &.purple {
      color: #6314F0;
    }

    &.red-bg {
      background-color: rgb(233, 141, 141);
    }

    &.small {
      font-size: 16px;
    line-height: 26px;
    }

    @media (max-width: $s) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__footer {
    background-color: #7d21ff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
      font-size: 16px;
      line-height: 24px;
      color: $white;
    }
    & > img{
      height: 20px;
    }
    @media (max-width: $s) {
      padding: 8px 15px;
      & > img {
        height: 20px;
      }
    }
  }
}
</style>
