<template>
  <div class="partners">
    <div class="partners__grid">
      <div class="partners__item">
        <img loading="lazy" class="partners__icon" src="/icons/partner-1.png" />
        <p class="partners__name">오프라인 연동 가능</p>
        <p class="partners__description">
          NFT이미지에 QR코드 삽입으로 온/오프라인과 빠르게 연동
        </p>
      </div>
      <div class="partners__item">
        <img loading="lazy" class="partners__icon" src="/icons/partner-2.png" />
        <p class="partners__name">다양한 상품구성</p>
        <p class="partners__description">
          호텔숙박권, 골프이용권, 패션 한정 상품 등 실물 기반의 다양한 계약 상품
          구성이 가능
        </p>
      </div>
      <div class="partners__item">
        <img loading="lazy" class="partners__icon" src="/icons/partner-3.png" />
        <p class="partners__name">NFT 사용자 확보</p>
        <p class="partners__description">
          국내 주요 NFT 프로젝트와 제휴 하여 기존 NFT 홀더 유입 유도
        </p>
      </div>
      <div class="partners__item">
        <img loading="lazy" class="partners__icon" src="/icons/partner-4.png" />
        <p class="partners__name">빠른 결제 속도</p>
        <p class="partners__description">
          초당 약 6만5천건 처리 가능한 솔라나(Solana) 기술 기반으로 거래 처리
          속도 해결
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      socials: {
        facebook: 'https://www.facebook.com/NFTRealWorld',
        twitter: 'https://twitter.com/NFT_Real_World',
        instagram: 'https://www.instagram.com/nftrealworld/',
        discord: 'https://discord.com/invite/4UJkUb3ZCY',
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.partners {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $secondary;
    padding-bottom: 24px;
  }

  &__image {
    margin-bottom: 24px;
    border-radius: 25px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 56px;

    @media (max-width: $s) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }

  &__item {
    padding: 40px 24px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $background-second;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0px 0px 55px $primary;
    }

    @media (max-width: $s) {
      padding: 20px;
      &:hover {
        box-shadow: unset;
      }
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $secondary;
    text-align: center;
  }

  &__bottom {
    display: flex;
    margin-top: 96px;
    justify-content: space-between;
    @media (max-width: $s) {
      flex-direction: column;
      gap: 56px;
      margin-top: 56px;
    }
  }

  &__form-field {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: $s) {
      flex-direction: column;
      gap: 24px;
    }
  }
}
</style>
