<template>
  <div class="socials">
    <a
      v-if="socials.facebook"
      :href="socials.facebook"
      target="_blank"
      class="socials__item"
    >
      <svg-icon name="facebook" class="socials__icon" />
    </a>
    <a
      v-if="socials.twitter"
      :href="socials.twitter"
      target="_blank"
      class="socials__item"
    >
      <svg-icon name="tweet" class="socials__icon" />
    </a>
    <a
      v-if="socials.instagram"
      :href="socials.instagram"
      target="_blank"
      class="socials__item"
    >
      <svg-icon name="instagram" class="socials__icon" />
    </a>
    <a
      v-if="socials.discord"
      :href="socials.discord"
      target="_blank"
      class="socials__item"
    >
      <svg-icon name="discord" class="socials__icon" />
    </a>
    <a
      v-if="socials.kakao"
      :href="socials.kakao"
      target="_blank"
      class="socials__item with-text"
    >
      <svg-icon name="kakao" class="socials__icon" />
      <p class="socials__text">카카오상담톡</p>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    socials: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.socials {
  $this: &;
  display: flex;
  align-items: center;
  gap: 12px;

  &.big {
    @media (max-width: $s) {
      justify-content: center;
    }
    #{$this}__item {
      width: 64px;
      height: 64px;
    }

    #{$this}__icon {
      width: 32px;
      height: 32px;
    }
  }

  &.small {
    gap: 6px;
    #{$this}__item {
      width: 24px;
      height: 24px;
    }

    #{$this}__icon {
      width: 16px;
      height: 16px;
    }
  }

  &.white {
    #{$this}__item {
      background-color: $white;
      &:hover {
        background-color: #8454eb;
        #{$this}__icon {
          fill: $white;
        }
      }
    }
    #{$this}__icon {
      fill: #343444;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #343444;
    border-radius: 8px;
    transition: ease background-color 0.3s;
    flex-shrink: 0;

    &:hover {
      background-color: #8454eb;
    }

    &.with-text {
      width: fit-content;
      padding: 0 8px;
      gap: 8px;
    }
  }

  &__text {
    color: $white;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: fill 0.3s ease;
  }
}
</style>
