<template>
  <div class="tab">
    <span class="tab__text">{{ tab.name }}</span>
  </div>
</template>

<script>
export default {
  props: ['tab'],
  methods: {
    setValue(value) {
      this.$emit('input', value)
    },
  },
}
</script>

<style lang="scss" scoped>
.tab {
  $this: &;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 8px;
  background-color: $background-second;
  border-radius: 6px;
  padding: 11px;
  min-width: 142px;
  z-index: 3;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    background-color: white !important;
    pointer-events: none;
    #{$this}__text {
      font-weight: 700;
      color: $background-second;
    }
  }

  &:hover {
    background-color: white;
    #{$this}__text {
      color: $background-second;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $white;
    transition: color 0.3s ease;
  }
}
</style>
