<template>
  <label class="toggle" :class="{ disabled: disabled }" ref="label">
    <input
      type="checkbox"
      :value="checked"
      :disabled="disabled"
      :checked="active"
      @change="toggle"
    />
    <span class="toggle__slider"></span>
    <p class="toggle__text" v-if="label" :class="{ disabled: disabled }">
      {{ label }}
    </p>
  </label>
</template>

<script>
export default {
  props: ['label', 'disabled', 'active'],
  data() {
    return {
      checked: this.active,
    }
  },
  methods: {
    toggle(e) {
      this.checked = !this.checked
      this.$emit('change', this.checked)
      this.$emit('input', this.checked)
    },
  },
}
</script>

<style lang="scss">
.toggle {
  $this: &;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__text {
    position: absolute;
    width: max-content;
    display: flex;
    flex-shrink: 0;
    top: 0;
    left: 40px;
    color: $black;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    &.disabled {
      color: red;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #989898;
    border: 1px solid #989898;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 999px;

    &::before {
      position: absolute;
      content: '';
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 2px;
      background-color: $white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

input:checked + .toggle__slider {
  background-color: $primary;
  border: 1px solid $primary;
}

input:checked + .toggle__slider:before {
  background-color: $white;
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
</style>
