<template>
  <div class="trade-steps">
    <BaseButton @click.native="mintNFT" v-if="user">Buy</BaseButton>
    <AuthButton size="buy" v-else />
    <div class="trade-steps__modal" v-if="open">
      <div class="trade-steps__content">
        <div class="trade-steps__progress">
          <div class="trade-steps__item">
            <div class="trade-steps__value">
              <img
                loading="lazy"
                src="@/static/load.svg"
                alt=""
                v-if="step <= 1"
              />
              <img
                loading="lazy"
                src="@/static/success.svg"
                alt=""
                v-if="step > 1"
              />
            </div>
            <p class="trade-steps__title">Minting</p>
          </div>
          <div class="trade-steps__item">
            <div class="trade-steps__value">
              <img
                loading="lazy"
                src="@/static/load.svg"
                alt=""
                v-if="step <= 2"
              />
              <img
                loading="lazy"
                src="@/static/success.svg"
                alt=""
                v-if="step > 2"
              />
            </div>
            <p class="trade-steps__title">Transfering</p>
          </div>
        </div>
        <p class="trade-steps__title">Do not close the window</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import { Keypair, PublicKey, Transaction, SystemProgram } from '@solana/web3.js'

import * as web3 from '@solana/web3.js'

declare interface BaseComponentData {
  step: number
  connection: any
  open: boolean
  phantom: any
  backKey: Keypair | null
  buy: boolean
  mintNft: boolean
}

export default Vue.extend({
  props: {
    artwork: {
      type: Object,
      required: true,
    },
  },
  data(): BaseComponentData {
    return {
      step: 1,
      // @ts-ignore
      phantom: this.$phantom,
      // @ts-ignore
      connection: this.$connection,
      open: false,
      backKey: null,
      buy: false,
      mintNft: false,
    }
  },
  methods: {
    async mintNFT() {
      if (!this.possibility && !this.buy) {
        this.$toast.error('Please top up your balance', {
          duration: 2000,
          theme: 'bubble',
        })
        return false
      }
      if (this.backKey && this.phantom) {
        this.open = true
        try {
          if (!this.buy) {
            const recieverWallet = new PublicKey(
              this.backKey.publicKey.toBase58()
            )

            const transaction = new Transaction().add(
              SystemProgram.transfer({
                fromPubkey: this.phantom.publicKey,
                toPubkey: recieverWallet,
                lamports: web3.LAMPORTS_PER_SOL * this.artwork.currentPrice,
              })
            )

            transaction.feePayer = await this.phantom.publicKey

            transaction.recentBlockhash = (
              await this.connection.getLatestBlockhash()
            ).blockhash

            const signed = await this.phantom.signTransaction(transaction)
            const signature = await this.connection.sendRawTransaction(
              signed.serialize()
            )

            await this.connection.confirmTransaction(signature)
            this.buy = true
          }

          await this.$axios.post('/nft/mintV3', {
            itemId: this.artwork.id,
          })

          await this.$axios.post('nft/activity/item/add', {
            item: this.artwork.id,
            quantity: 1,
            price: this.artwork.currentPrice,
            from: this.artwork.owner.id,
            to: this.user.id,
            type: 1,
            time: new Date(),
          })

          this.step++

          await this.$axios.post('/collection/add', {
            itemId: this.artwork.id,
            collectionId: this.artwork.collection.id,
          })

          await this.$axios.post('/nft/transfer', {
            address: this.phantom.publicKey.toBase58(),
            itemId: this.artwork.id,
          })

          await this.$axios.put(`/nft/update/${this.artwork.id}`, {
            owner: this.user.id,
            fromAdmin: false,
          })

          await this.$axios.post('nft/activity/item/add', {
            item: this.artwork.id,
            quantity: 1,
            price: this.artwork.currentPrice,
            from: this.artwork.owner.id,
            to: this.user.id,
            type: 2,
            time: new Date(),
          })
          this.step++

          if (this.$route.name === 'artwork-id') {
            location.reload()
          } else {
            this.$router.push(`/artwork/${this.artwork.id}`)
          }
        } catch (error: any) {
          this.$toast.error(error.message, {
            duration: 2000,
            theme: 'bubble',
          })
          this.open = false
        }
      }
    },
  },
  computed: {
    user(): any {
      return this.$store.state.user
    },
    LAMPORTS_PER_SOL(): number {
      return this.$store.state.LAMPORTS_PER_SOL
    },
    balance(): number {
      return this.$store.state.balance
    },
    possibility(): boolean {
      return this.balance >= +this.artwork.currentPrice && !this.buy
    },
  },
  mounted() {
    const privateKeyBuffer: number[] = JSON.parse(process.env.backKey || '')
    const secret: Uint8Array = Uint8Array.from(privateKeyBuffer)
    this.backKey = Keypair.fromSecretKey(secret)
  },
})
</script>

<style lang="scss" scoped>
.trade-steps {
  &__modal {
    background-color: rgba(35, 32, 44, 0.7);
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    background-color: $background-second;
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
  }

  &__progress {
    width: 100%;
    padding: 0 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    width: 60px;
    height: 60px;
    background-color: #4a4a4a;
    border-radius: 5px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Poppins';
    margin-top: 20px;
    text-align: center;
  }
}
</style>
