<template>
  <div class="user-tab">
    <div
      class="user-tab__content"
      :class="{ unactive: !tab.value }"
      @click="setValue(tab.value)"
    >
      <svg-icon class="user-tab__icon" v-if="tab.icon" :name="tab.icon" />
      <span class="user-tab__text">{{ tab.label }} {{ tab.quantity }}</span>
      <svg-icon class="user-tab__chevron" v-if="tab.list" name="chevron-24" />
    </div>

    <div class="user-tab__list" v-if="tab.list">
      <div
        class="user-tab__item"
        v-for="(item, index) in tab.list"
        :key="index"
        :class="{ 'with-icon': item.icon }"
        @click="setValue(item.value)"
      >
        <svg-icon
          class="user-tab__icon-chevron"
          v-if="item.icon"
          :name="item.icon"
        />
        {{ item.label }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['tab'],
  methods: {
    setValue(value) {
      this.$emit('input', value)
    },
  },
}
</script>

<style lang="scss" scoped>
.user-tab {
  $this: &;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 8px;
  background-color: $background-second;
  border-radius: 6px;
  padding: 11px;
  min-width: 142px;
  z-index: 3;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    background-color: white !important;
    #{$this}__text {
      color: $background-second;
    }
    #{$this}__icon {
      stroke: $background-second;
      fill: $background-second;
    }
    #{$this}__chevron {
      stroke: $background-second;
      fill: $background-second;
    }
  }

  &:hover {
    background-color: white;
    #{$this}__text {
      color: $background-second;
    }
    #{$this}__chevron {
      stroke: $background-second;
      fill: $background-second;
    }
    #{$this}__icon {
      stroke: $background-second;
      fill: $background-second;
    }
    #{$this}__list {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 8px;

    &.unactive {
      pointer-events: none;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: white;
    transition: stroke 0.3s ease, fill 0.3s ease;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &__chevron {
    width: 24px;
    height: 24px;
    stroke: $white;
    fill: $white;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $white;
    transition: color 0.3s ease;
    @media (max-width: $m) {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
    }
    @media (max-width: $s) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__list {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-24px);
    pointer-events: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11px 21px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $black;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: #8454eb;
      color: $white;
    }
    &:nth-child(1) {
      box-sizing: border-box;
      border-radius: 8px 8px 0 0;
    }
    &:nth-last-child(1) {
      border-radius: 0px 0px 8px 8px;
    }

    &.with-icon {
      padding: 11px 8px;
    }
  }

  &__icon-chevron {
    fill: $black;
    width: 16px;
    height: 16px;
  }
}
</style>
