<template>
  <div :class="[{ load }, 'create']">
    <BaseSection>
      <div class="create__header">
        <h2 class="create__headline">Create New Artwork</h2>
        <p class="create__subtitle">* 요구사항</p>
        <p class="create__title">Image, Video, Audio or 3D Model</p>
        <p class="create__text">
          지원하는 파일형태: JPG, PNG, GIF, SVG, MP4, WEBM, MP3, WAV, OGG, GLB,
          GLTF. 최대파일 사이즈: 500 MB
        </p>
      </div>
      <div class="create__list">
        <div class="create__section">
          <p class="create__title">Preview item</p>
          <FormBasePreview @uploadFile="uploadFile" />
          <span class="create__error" v-if="!file">Required</span>
        </div>
        <div class="create__section">
          <FormBaseInput
            label="Title"
            placeholderText="Item Name"
            v-model="form.metadata.name"
          />
          <span class="create__error" v-if="!form.metadata.name">Required</span>
          <span class="create__error" v-if="nameSize >= 32"
            >the title is too large</span
          >
        </div>
        <div class="create__section">
          <FormBaseInput
            v-model="form.metadata.link"
            label="Extenal Link"
            description="OOO will include a link to this URL on this Artwork's detail page, so that users can click to learn more about it. You are welcome to link to your own webpage with more details."
            placeholderText="http://yoursite/dfkd.krdjfkd"
          />
        </div>
        <div class="create__section">
          <FormBaseInput
            v-model="form.metadata.description"
            label="Description"
            placeholderText="e.g. “This is very limited item”"
          />
          <span class="create__error" v-if="!form.metadata.description"
            >Required</span
          >
        </div>
        <div class="create__box">
          <p class="create__title">Collection</p>
          <Select
            v-if="collections"
            v-model="form.collection"
            :options="collections"
          />
          <BaseButton
            v-else
            class="is-create"
            @click.native="$router.push({ path: '/user/collection-create' })"
          >
            Create collection
          </BaseButton>
          <span class="create__error" v-if="!form.collection">Required</span>
        </div>
        <div class="create__section">
          <BaseButton
            @click.native="create"
            :class="[{ disabled: !validate }, 'is-create']"
          >
            Submit
          </BaseButton>
        </div>
      </div>
    </BaseSection>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {
  Collection,
  CreateMasterEditionV3,
  CreateMetadataV2,
  Creator,
  DataV2,
} from '@metaplex-foundation/mpl-token-metadata'
import * as web3 from '@solana/web3.js'
import * as anchor from '@project-serum/anchor'
import {
  ASSOCIATED_TOKEN_PROGRAM_ID,
  MintLayout,
  Token,
  TOKEN_PROGRAM_ID,
} from '@solana/spl-token'
import { Keypair, Transaction, SystemProgram } from '@solana/web3.js'
import {
  getMasterEdition,
  getMetadata,
  getTokenWallet,
} from '../../helpers/account'
import {
  CollectionsElement,
  Form,
  CreatorItem,
  Metadata,
  Create,
  BaseValidateMetadata,
} from '../../interface/interface-artwork-create'

declare interface BaseComponentData {
  load: Boolean
  file: any
  connection: any
  backKey: any
  collectionsList: any
  form: Form
  phantom: any
}

export default Vue.extend({
  layout: 'secret',
  data(): BaseComponentData {
    return {
      load: false,
      file: null,
      // @ts-ignore
      connection: this.$connection,
      // @ts-ignore
      phantom: this.$phantom,
      backKey: null,
      collectionsList: [],
      form: {
        saleEnd: new Date(),
        type: 1,
        currentPrice: 1,
        collection: null,
        metadata: {
          name: '',
          link: '',
          symbol: 'NFRW',
          description: '',
          maxSupply: 0,
        },
      },
    }
  },
  methods: {
    create() {
      this.load = true

      let form_data: FormData = new FormData()
      const values: [string, any][] = Object.entries(this.form)
      values.forEach(([key, value]) => {
        key === 'metadata'
          ? form_data.append(key, JSON.stringify(value))
          : form_data.append(key, value)
      })
      form_data.append('file', this.file)
      form_data.append('author', this.user.id)

      this.$axios
        .$post('/nft/create', form_data, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        .then((res: Create) => {
          this.mintNft(res)
        })
    },
    async mintNft(res: Create) {
      if (!res) {
        return console.warn(`Item does not exists`, 400)
      }
      this.backKey = Keypair.fromSecretKey(
        Uint8Array.from(JSON.parse(process.env.backKey || ''))
      )

      res.metadata.properties.creators = [
        {
          address: this.backKey.publicKey.toBase58(),
          share: 3,
          verified: false,
        },
        {
          address: this.phantom.publicKey.toBase58(),
          share: 97,
          verified: true,
        },
      ]

      const metadataLink: string = await this.$axios.$post(
        '/pinata/pinJSON',
        res.metadata
      )

      this.mintToken(
        this.connection,
        this.phantom.publicKey,
        metadataLink,
        null,
        res.metadata.maxSupply,
        null,
        res.metadata
      )
      return res
    },
    async mintToken(
      connection: any,
      walletPublicKey: any,
      metadataLink: string,
      collection: Collection | null,
      maxSupply: number,
      uses = null,
      metadata: Metadata
    ) {
      const data = await this.createMetadata(
        metadataLink,
        metadata,
        collection,
        uses
      )

      if (!data) return
      if (!walletPublicKey) {
        return console.warn('The wallet must have a public key', 400)
      }

      const mint = Keypair.generate()
      const signers = [mint, this.backKey]
      const instructions = []
      const mintRent = await connection.getMinimumBalanceForRentExemption(
        MintLayout.span
      )
      instructions.push(
        SystemProgram.createAccount({
          fromPubkey: walletPublicKey,
          newAccountPubkey: mint.publicKey,
          lamports: mintRent,
          space: MintLayout.span,
          programId: TOKEN_PROGRAM_ID,
        })
      )
      instructions.push(
        Token.createInitMintInstruction(
          TOKEN_PROGRAM_ID,
          mint.publicKey,
          0,
          walletPublicKey,
          walletPublicKey
        )
      )
      const userTokenAccoutAddress = await getTokenWallet(
        walletPublicKey,
        mint.publicKey
      )
      instructions.push(
        Token.createAssociatedTokenAccountInstruction(
          ASSOCIATED_TOKEN_PROGRAM_ID,
          TOKEN_PROGRAM_ID,
          mint.publicKey,
          userTokenAccoutAddress,
          walletPublicKey,
          walletPublicKey
        )
      )
      const metadataAccount = await getMetadata(mint.publicKey)
      instructions.push(
        ...new CreateMetadataV2(
          { feePayer: walletPublicKey },
          {
            metadata: metadataAccount,
            metadataData: data,
            updateAuthority: walletPublicKey,
            mint: mint.publicKey,
            mintAuthority: walletPublicKey,
          }
        ).instructions
      )
      instructions.push(
        Token.createMintToInstruction(
          TOKEN_PROGRAM_ID,
          mint.publicKey,
          userTokenAccoutAddress,
          walletPublicKey,
          [this.backKey],
          1
        )
      )
      const editionAccount = await getMasterEdition(mint.publicKey)
      instructions.push(
        ...new CreateMasterEditionV3(
          {
            feePayer: walletPublicKey,
          },
          {
            edition: editionAccount,
            metadata: metadataAccount,
            mint: mint.publicKey,
            mintAuthority: walletPublicKey,
            updateAuthority: walletPublicKey,
            maxSupply: new anchor.BN(maxSupply),
          }
        ).instructions
      )
      const signature = await this.sendTransaction(
        connection,
        walletPublicKey,
        instructions,
        signers
      )
      await connection.confirmTransaction(signature)
    },
    async createMetadata(
      metadataLink: string,
      metadata: Metadata,
      collection: Collection | null,
      uses: any
    ) {
      try {
        return this.validateMetadata({
          metadata,
          uri: metadataLink,
          collection,
          uses,
        })
      } catch (error) {
        console.error(error)
      }
    },
    validateMetadata({
      metadata,
      uri,
      collection,
      uses,
    }: BaseValidateMetadata) {
      if (!metadata) {
        return console.warn('Invalid metadata file', 400)
      }
      const metaCreators: CreatorItem[] = metadata.properties.creators
      if (
        metaCreators.some((creator: CreatorItem) => !creator.address) ||
        metaCreators.reduce(
          (sum: number, creator: CreatorItem) => creator.share + sum,
          0
        ) !== 100
      ) {
        console.error('Invalid array of creators', 400)
      }

      const creators: CreatorItem[] = metaCreators.map(
        (creator: CreatorItem) =>
          new Creator({
            address: creator.address,
            share: creator.share,
            verified: creator.verified,
          })
      )

      const result = new DataV2({
        symbol: metadata.symbol,
        name: metadata.name,
        uri,
        sellerFeeBasisPoints: metadata.seller_fee_basis_points,
        creators: creators,
        collection: collection
          ? // TODO mint token collection
            new Collection({ key: collection.toBase58(), verified: true })
          : null,
        uses,
      })
      return result
    },
    async sendTransaction(
      connection: any,
      walletPublicKey: any,
      instructions: any[],
      signers: web3.Signer[]
    ): Promise<any> {
      try {
        const transaction: web3.Transaction = new Transaction()

        instructions.forEach((instruction) => transaction.add(instruction))

        transaction.recentBlockhash = (
          await connection.getLatestBlockhash()
        ).blockhash
        transaction.feePayer = walletPublicKey
        transaction.partialSign(...signers)

        const signedTransaction = await this.phantom.signTransaction(
          transaction
        )
        const signature = await connection.sendRawTransaction(
          signedTransaction.serialize()
        )
        return signature
      } catch (error) {
        console.error(error)
      } finally {
        this.load = false
      }
    },
    uploadFile(file: File) {
      this.file = file
    },
  },
  computed: {
    nameSize() {
      //@ts-ignore
      return encodeURI(this.form.metadata.name).split(/%..|./).length - 1
    },
    user() {
      return this.$store.state.user
    },
    validate() {
      if (
        this.form.metadata.description &&
        this.form.metadata.name &&
        this.file &&
        this.form.collection
      ) {
        return true
      }
      return false
    },
    collections() {
      const collections: CollectionsElement[] = []

      const result = this.collectionsList.filter(
        (item: any) => item.author.id === this.user.id
      )

      result.forEach((element: any) => {
        collections.push({ name: element.metadata.name, value: element.id })
      })

      return collections
    },
  },
  async asyncData({ $axios }) {
    const collectionsList = await $axios.$get(`/collection`)

    return { collectionsList: collectionsList.collections }
  },
})
</script>

<style lang="scss" src="../../styles/create.scss"></style>
