<template>
  <div class="artwork-artworks">
    <div class="artwork-artworks__grid">
      <Card :item="item" v-for="(item, index) in artworks" :key="index" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    artworks: {
      type: Array,
    },
  },
})
</script>

<style lang="scss" scoped>
.artwork-artworks {
  &__filter {
    max-width: 700px;
    width: 100%;
  }
  &__grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: $s) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
</style>
