<template>
  <div class="artwork-offers">
    <div class="artwork-offers__body">
      <div class="artwork-offers__row">
        <div class="artwork-offers__item">
          <p class="artwork-offers__title">Price</p>
        </div>
        <div class="artwork-offers__item">
          <p class="artwork-offers__title">USD Price</p>
        </div>
        <div class="artwork-offers__item">
          <p class="artwork-offers__title">Floor difference</p>
        </div>
        <div class="artwork-offers__item">
          <p class="artwork-offers__title">Expiration</p>
        </div>
        <div class="artwork-offers__item">
          <p class="artwork-offers__title">From</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.artwork-offers {
  &__row {
    display: flex;
    & + & {
      margin-top: 15px;
    }
  }

  &__body {
    @media (max-width: $m) {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $white-2;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    @media (max-width: $m) {
      min-width: 120px;

      &:nth-last-child(1) {
        min-width: 160px;
      }
    }
  }

  &__check {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #c4c4c4;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    &.bold {
      font-weight: 700;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #5e6366;
  }
}
</style>
