<template>
  <div class="artwork-sidebar">
    <div class="artwork-sidebar__content">
      <Card :item="artwork" />
    </div>
    <div class="artwork-sidebar__attributes">
      <div class="artwork-sidebar__header">
        <p class="artwork-sidebar__title">Description</p>
        <p class="artwork-sidebar__text">Created by {{ author }}</p>
        <p class="artwork-sidebar__text">
          {{ artwork.metadata.description }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    artwork: {
      type: Object,
    },
  },
  data() {
    return {
      item: {
        image: '/category1.png',
        buy: true,
      },
      properties: [
        {
          name: 'Properties',
          value: 'properties',
        },
        {
          name: 'artist',
          value: 'Artist name',
        },
        {
          name: 'artist',
          value: 'Artist name',
        },
      ],
      about: [
        {
          name: 'About artwork NFT',
          value: 'properties',
        },
        {
          name: 'artist',
          value: 'Artist name',
        },
        {
          name: 'artist',
          value: 'Artist name',
        },
      ],
      details: [
        {
          name: 'Details',
          value: 'properties',
        },
        {
          name: 'artist',
          value: 'Artist name',
        },
        {
          name: 'artist',
          value: 'Artist name',
        },
      ],
    }
  },
  computed: {
    author(): string {
      return this.artwork.author.username || this.artwork.author.wallet.address
    },
  },
})
</script>

<style lang="scss" scoped>
.artwork-sidebar {
  &__attributes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $white-2;
  }

  &__attributes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 15px;
  }

  &__attributes-item {
    border: 1px solid #343444;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 16px;
  }

  &__item-name {
    max-width: 67px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 9px;
    line-height: 20px;
    color: $white-2;
  }
  &__item-value {
    max-width: 67px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    color: $white-2;
  }

  &__about {
  }

  &__about-image {
    border: 1px solid #343444;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    object-fit: cover;
  }

  &__about-content {
    display: flex;
    gap: 32px;
    align-items: flex-start;
  }

  &__about-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__row-value {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $white-2;
  }
}
</style>
