<template>
  <div class="artwork-accordion">
    <div class="artwork-accordion__header" @click="open = !open">
      <p class="artwork-accordion__title">{{ title }}</p>
      <svg-icon
        name="triangle"
        class="artwork-accordion__icon"
        :class="{ open }"
      />
    </div>
    <div class="artwork-accordion__body" v-if="open">
      <div class="artwork-accordion__content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

declare interface BaseComponentData {
  open: boolean
}

export default Vue.extend({
  props: {
    title: {
      type: String,
    },
  },
  data(): BaseComponentData {
    return {
      open: false,
    }
  },
})
</script>

<style lang="scss" scoped>
.artwork-accordion {
  overflow: hidden;

  &__header {
    cursor: pointer;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $white;
  }

  &__icon {
    width: 12px;
    height: 12px;
    fill: $white;
    transform: rotate(180deg);
    transition: ease transform 0.3s;

    &.open {
      transform: rotate(0);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    color: $white;
  }

  &__body {
    min-height: 127px;
  }

  &__content {
    padding: 15px 0;
  }
}
</style>
