<template>
  <div class="explore">
    <div class="explore__cover">
      <img loading="lazy" class="explore__backgound" src="/explore-bg.jpg" />
    </div>
    <BaseSection v-if="category" :title="'Explore ' + category.name">
      <Description
        v-if="category.description"
        :description="category.description"
      />
      <p v-if="list.length" class="explore__title">
        Trending collections in {{ category.name }}
      </p>
      <div class="explore__body">
        <div
          class="explore__item"
          :class="{ blocked: item.isBlocked }"
          v-for="item in list"
          :key="item.id"
        >
          <CollectionCard :item="item" />
        </div>
      </div>
      <Pagination v-if="pagination.total > 20" :paginationData="pagination"
        @togglePagination="changePage" />
    </BaseSection>

  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
      pagination: {}
    }
  },
  methods: {
    changePage(page) {
      this.$axios
        .$get(
          `/collection?categoryId=${this.$route.params.id + (page ? '&page=' + page : '')}`
        )
        .then((res) => {
          console.log(res);
          this.list = res.collections
          this.pagination = res
        })
    },
  },

  async asyncData({ $axios, route }) {
    const list = await $axios.$get(`/collection?categoryId=${route.params.id + (route.query.page ? '&page=' + route.query.page : '')}`)
    const category = await $axios.$get(`/nft/category/${route.params.id}`)

    return { list: list.collections, category, pagination: list, }
  },
}
</script>

<style lang="scss" scoped>
.explore {
  &__cover {
    width: 100%;
    height: 442px;
    position: relative;
    cursor: pointer;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(20, 20, 31, 0.7);
      z-index: 2;
    }

    @media (max-width: $s) {
      height: 240px;
    }
  }

  &__backgound {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: $m) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    padding: 56px 0;
    color: $white;

    @media (max-width: $m) {
      padding: 30px 0;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__filter {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  &__button {
    padding: 10px 12px;
    border-radius: 13px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: $white;
    transition: ease background-color 0.3s;
    background-color: rgba(135, 82, 243, 0);

    &.active {
      background-color: #8752f3;
    }
  }

  &__item {
    &.blocked {
      display: none;
    }
  }
}
</style>
