<template>
  <div class="page">
    <header class="page__header">
      <LayoutHeader />
    </header>
    <main class="page__main">
      <Nuxt />
    </main>
    <footer class="page__footer">
      <LayoutFooter />
    </footer>
    <!-- <ModalTest> </ModalTest> -->
  </div>
</template>

<style lang="scss" scoped>
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $black;

  &__main {
    flex-grow: 1;
    position: relative;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}
</style>
