<template>
  <div class="auth-button">
    <BaseButton @click.native="connectPhantom" v-if="size === 'buy'">
      Buy
    </BaseButton>
    <BaseButton
      @click.native="connectPhantom"
      class="bordered"
      v-if="size === 'small'"
    >
      login
    </BaseButton>
    <button
      @click="connectPhantom"
      class="auth-button__big"
      v-if="size === 'big'"
    >
      <span class="auth-button__icon">
        <Icon icon-name="wallet" />
      </span>
      <span class="auth-button__text">Phantom</span>
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    size: {
      type: String,
      default: 'small',
    },
  },
  data() {
    return {
      // @ts-ignore
      phantom: this.$phantom,
    }
  },
  methods: {
    async connectPhantom() {
      try {
        const publicKey = await this.phantom.connect()
        const message = `NFT REAL WORLD 환영합니다`
        const encodedMessage = new TextEncoder().encode(message)
        await this.phantom.signMessage(encodedMessage, 'utf8')
        await this.$store.dispatch('auth', publicKey.publicKey.toBase58())
      } catch (error: any) {
        console.error(error.message)
      }
    },
  },
})
</script>

<style lang="scss" scoped>
.auth-button {
  &__big {
    width: 100%;
    display: flex;
    cursor: pointer;
    background-color: $white;
    padding: 32px 48px;
    border-radius: 13px;
    border: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    font-family: 'Urbanist', sans-serif;
    color: $dark;
    align-items: center;
    @media (max-width: $s) {
      padding: 16px 30px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(180deg, #534bb1 0%, #551bf9 100%);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    @media (max-width: $s) {
      width: 34px;
      height: 34px;
    }
  }
}
</style>
