<template>
  <div class="auth-form">
    <img class="auth-form__image" loading="lazy" src="/icons/solana.svg" />
    <div class="auth-form__header">
      <p class="auth-form__title">Connect Wallet</p>
    </div>
    <div class="auth-form__body">
      <div class="auth-form__button">
        <AuthButton size="big" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.auth-form {
  padding: 60px 80px;
  background: linear-gradient(
    106.97deg,
    rgba(255, 255, 255, 0.2) 5.84%,
    rgba(255, 255, 255, 0.05) 70.7%
  );
  border-radius: 50px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $m) {
    padding: 30px 20px;
  }

  &__body {
    width: 100%;
  }

  &__image {
    width: 156px;
    height: 140px;
    margin-bottom: 40px;

    @media (max-width: $m) {
      width: 39px;
      height: 35px;
      margin-bottom: 25px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 42px;
    color: #fcfcfd;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: $m) {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
    }
  }
}
</style>
