<template>
  <BaseSection>
    <div class="settings-page" :class="{ load }">
      <SettingsHeader :data="user" v-if="user" />
      <div class="settings-page__content" v-if="user">
        <div class="settings-page__left">
          <p class="settings-page__headline">Profile Setting</p>
          <p class="settings-page__title thick">* Required fields</p>
          <div class="settings-page__mobile">
            <div class="settings-page__section">
              <FormPreviewSettings
                @uploadFile="uploadLogos"
                :src="previewSrcLogo"
                title="Profile Image"
              />
              <FormPreviewSettings
                @uploadFile="uploadBanner"
                :src="previewSrcBanner"
                wide
                title="Profile background"
              />
            </div>
          </div>
          <FormBaseInput
            v-model="form.username"
            :valueText="user ? user.username : ''"
            placeholderText="Your Full Name"
          />
          <FormBaseInput
            v-model="form.bio"
            :valueText="user ? user.bio : ''"
            label="Description"
            area
            placeholderText="Enter your story(=Artist profile)"
          />
          <FormBaseInput
            v-model="form.email"
            :valueText="user ? user.email : ''"
            label="Email Address *"
            placeholderText="Your Email Address"
          />

          <div class="settings-page__section">
            <p class="settings-page__title">Links</p>
            <FormBaseInput
              icon="facebook"
              v-model="form.facebook"
              :valueText="user ? user.facebook : ''"
            />
            <FormBaseInput
              icon="tweet"
              v-model="form.twitter"
              :valueText="user ? user.twitter : ''"
            />
            <FormBaseInput
              icon="instagram"
              v-model="form.instagram"
              :valueText="user ? user.instagram : ''"
            />
            <FormBaseInput
              icon="discord"
              v-model="form.discord"
              :valueText="user ? user.discord : ''"
            />
          </div>
          <div class="settings-page__section">
            <FormBaseInput
              disabled
              label="Wallet Address"
              :placeholderText="user.wallet.address"
            />

            <svg-icon @click="copy" class="settings-page__copy" name="copy" />
          </div>
          <button @click="update" class="settings-page__button">Save</button>
        </div>
        <div></div>
        <div class="settings-page__right">
          <div class="settings-page__section">
            <FormPreviewSettings
              @uploadFile="uploadLogos"
              :src="previewSrcLogo"
              title="Profile Image"
            />
            <FormPreviewSettings
              @uploadFile="uploadBanner"
              :src="previewSrcBanner"
              wide
              title="Profile background"
            />
          </div>
        </div>
      </div>
    </div>
  </BaseSection>
</template>

<script>
export default {
  layout: 'secret',
  data() {
    return {
      load: false,
      profile_logo: '',
      profile_banner: '',
      previewSrcLogo: '',
      previewSrcBanner: '',
      form: {
        id: '',
        username: '',
        bio: '',
        email: '',
        facebook: '',
        twitter: '',
        instagram: '',
        discord: '',
      },
      links: [
        {
          name: 'Link 1',
          value: '1',
        },
        {
          name: 'Link 2',
          value: '2',
        },
        {
          name: 'Link 3',
          value: '3',
        },
      ],
      previewSrc: this.src || null,
      type: null,
    }
  },
  methods: {
    async copy() {
      let textToCopy = this.user.wallet.address
      try {
        await this.$copyText(textToCopy)
      } catch (e) {
        console.error(e)
      }
    },
    uploadLogos(file) {
      this.profile_logo = file
    },
    uploadBanner(file) {
      this.profile_banner = file
    },
    update() {
      this.load = true
      let form_data = new FormData()

      form_data.append('profileLogo', this.profile_logo)
      form_data.append('profileBanner', this.profile_banner)

      for (let key in this.form) {
        if (key === 'metadata') {
          form_data.append(key, JSON.stringify(this.form[key]))
        } else {
          form_data.append(key, this.form[key])
        }
      }

      this.$axios
        .$post(`/account/update`, form_data, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        .finally(() => {
          this.load = false
          this.$store.dispatch('auth')
        })
    },
  },
  computed: {
    user() {
      this.form.id = this.$store.state.user?.id
      this.form.username = this.$store.state.user?.username
      this.form.bio = this.$store.state.user?.bio
      this.form.email = this.$store.state.user?.email

      this.form.facebook = this.$store.state.user?.facebook
      this.form.twitter = this.$store.state.user?.twitter
      this.form.instagram = this.$store.state.user?.instagram
      this.form.discord = this.$store.state.user?.discord

      this.profile_logo = this.$store.state.user?.profileLogo
      this.profile_banner = this.$store.state.user?.profileBanner
      this.previewSrcLogo = this.$store.state.user?.profileLogo
      this.previewSrcBanner = this.$store.state.user?.profileBanner

      return this.$store.state.user
    },
  },
}
</script>

<style lang="scss" scoped>
.settings-page {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    transition: ease opacity 0.3s;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    background-image: url('@/static/load.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  &.load {
    &::before {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__content {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;

    @media (max-width: $s) {
      display: flex;
      flex-direction: column;
    }
  }
  &__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: block;

    &.thick {
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      color: $secondary;
    }
  }

  &__mobile {
    display: none;
    margin-bottom: 32px;

    @media (max-width: $s) {
      display: block;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__right {
    @media (max-width: $s) {
      display: none;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    @media (max-width: $s) {
      gap: 20px;
    }
  }

  &__copy {
    width: 16px;
    height: 16px;
    fill: $white-2;
    position: absolute;
    bottom: 16px;
    right: 20px;
    cursor: pointer;
    transition: fill 0.3s ease;
    &:hover {
      fill: $white;
    }
  }

  &__button {
    border: 1px solid $white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $background-second;
    background-color: $white;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid $primary;
      color: $white;
      background-color: $primary;
    }
  }

  &__image-input {
    position: relative;
    width: 100%;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    background-color: #7a798a;
  }

  &__image {
    object-fit: scale-down;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    position: absolute;
    z-index: 1;
  }

  &__input {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__input-text {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 17px;
  }
}
</style>
