@import url('./reset.scss');
@import url('./plugins/lightbox.scss');

.icon {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto';
  color: $white;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: $s) {
    padding: 0 16px;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}
